fixed-th {
  position: sticky;
  top: -2px;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  min-width: 40px; /* Fixed width */
  max-width: 200px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
}

.fixed-td {
  min-width: 40px; /*Fixed width */
  max-width: 200px; /* Match header width */
  height: 20px; /* Fix row height */
  padding: 5px;
  text-align: left;
  overflow: hidden;
}


.table-container {
  overflow-x: auto; /* Enable horizontal scroll if content exceeds table width */
}
.pagination {
  --bs-pagination-active-bg: #0073CF !important;
  --bs-pagination-bg: #080E17 !important;
  --bs-pagination-hover-color: white !important;
  --bs-pagination-hover-bg: #0073CF !important;
}

@media (min-width: 400px) and (max-width: 600px) {
  .paginationstabs {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
}
