.searchHeader {
  display: flex;
  align-items: center;
  background-color: #0A192F;
}

.searchIcon {
  color: #0073CF;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.searchBar {
  height: 50px !important;
  display: flex; 
  align-items: center;
 
}
.iconButton {
  background: transparent;
  color: #0073CF;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 50%;
}

.iconButton:hover {
  background: 0073CF;
}
