.addBtnConnection {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 0px;
  background-color: #0073CF;
  color: #FFFFFF;
  height: 56px;
  width: 120px;
}
