.container{
    --bs-gutter-x: 1.5rem !important;
}
.SideR{
    margin-top: 1rem;
}
.navRightLink{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-bottom: 2rem;
}
#spanRid{
    margin-left: 1rem;
}
/* // style={{ color: '#fff', display: 'flex', flexDirection: 'column', alignItems: 'center', fontSize: '12px',  marginBottom: '2rem' }} */