.nav-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: #101D2B !important; /* ✅ Use !important to override default styles */
    color: #d2d2d2 !important; /* ✅ Use !important to
   
}
.nav-dropdown-item:hover {
    background-color: white !important; /* ✅ Prevent hover effect */
    color: inherit !important;
    cursor: default !important; /* ✅ Avoid pointer change */
}
:global(.dropdown-toggle)::after {
  content: none !important;
  display: none !important;
}
