:root {
  --color-colors-primary: #0A192F;
  --color-colors-primaryAccent: #0073CF;
  --color-colors-secondary: #101D2B;
  --color-colors-neutralText: #D9D9D9;
  --color-colors-backgroundColor: #080E17;
  --color-colors-copper: #C06205;
  --color-colors-copper30: rgba(192, 98, 5, 0.3);
  --color-colors-copper2: #E16349;
  --color-colors-blackShade: #1F1F1F;
  --color-colors-secondaryOption1: #1C1C1C;
  --color-colors-gray20: rgba(225, 225, 225, 0.2);
  --color-colors-warning: #FFC107;
  --color-colors-success: #4CAF50;
  --color-colors-danger: #FF3B3F;
  --color-colors-hoverState: #2196F3;
  --shape-borderRadius: 12px;
  --font-fontFamily: 'Roboto' ;
  --font-h1-fontSize: 3rem;
  --font-h1-fontWeight: 500;
  --font-h2-fontSize: 2.5rem;
  --font-h2-fontWeight: 500;
  --font-h3-fontSize: 2rem;
  --font-h3-fontWeight: 400;
  --font-h4-fontSize: 1.5rem;
  --font-h4-fontWeight: 500;
  --font-h5-fontSize: 1.25rem;
  --font-h5-fontWeight: 400;
  --font-h6-fontSize: 1rem;
  --font-h6-fontWeight: 500;
  --font-body1-fontSize: 0.75rem;
  --font-body2-fontSize: 0.75rem;
  --font-button-textTransform: none;
  --font-button-fontWeight: 0.75rem;
  --font-caption-fontSize: 0.75rem;
  --shadow-smallShadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-mediumShadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-largeShadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
