.css-1b1fjlj-MuiFormControl-root-MuiTextField-root{
    background-color: white;
    border-radius: 5px;
    width: 100%;

}
 .com{
  font-size: 12px !important;
  
} 
.css-1umw9bq-MuiSvgIcon-root {
  fill: black !important;
}