.css-1b1fjlj-MuiFormControl-root-MuiTextField-root{
    background-color: white;
    border-radius: 5px;
    width: 100%;

}
 .com{
  font-size: 12px !important;
  
} 
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 0px !important;
  height: 38px !important;
 

}