.css-rizt0-MuiTypography-root{
    font-size:12px !important;
}
/* .css-b7dj7n-MuiList-root{
    border: 1px solid white;
} */
.css-cfd5wn-MuiListItem-root{
    padding: 0px !important;
}
hr{
    margin: 5px;
    color: white;
    opacity: 1;
}