/* SearchInterface.css */

.search-container {
  background: #f5f5f5;
  color: #000;
  font-family: 'Roboto', Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-header {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #e0e0e0; */
  padding: 5px;
  background-color: darkgray;
}

.search-input-container {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #212121;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.search-input {
  background: transparent;
  border: none;
  color: #000;
  flex: 1;
  outline: none;
  font-size: 14px;
}

.search-input::placeholder {
  color: #9e9e9e;
}

.icon-button {
  background: transparent;
  color: #212121;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}

.icon-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.search-term-indicator {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: darkgray;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 100px;
  overflow: auto;
}

.search-chip {
  height: 20px;
  background: black;
  padding: 2px 4px 2px 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.chip-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  color: white;
  padding: 4px;
  border-radius: 50%;
}

.chip-delete-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.action-buttons {
  margin-left: auto;
  display: flex;
}

.action-button {
  background: gray;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 4px;
  letter-spacing: 0.5px;
}

.action-button:hover {
  background: black;
  color: white;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  background: darkgray
}

.tab {
  padding: 2px 16px;
  cursor: pointer;
  color: #757575;
  transition: color 0.2s;
  text-align: center;
}

.tab.active {
  border-bottom: 2px solid white;
  color:white;
}

.search-results {
  /* padding: 0.75rem; */
  background: darkgray;
  height: 350px;
}

.result-card {
 color: white;
 background-color: darkgray;
  border-radius: 4px;
  padding: 0px 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px black;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-id {
  color: white;
}

.status-badge {
  background:black ;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

