.subtype-section {
  margin-top: 15px;
  border-top: 1px solid #ddd;
   height: 150px;
  /* overflow: auto; */
}

.subtype-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 5px;
  position: relative;
}

.subtype-field {
  flex:1 1;
  min-width: 200px;
}
.subtype-fields {
  flex:1 1;
  /* min-width: 200px; */
}
.subtype-field label {
  display: block;
 }

.subtype-actions {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.remove-subtype {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
}

.add-subtype-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}

.add-subtype-btn:hover {
  background-color: #45a049;
}

.subtype-select, .target-select {
  width: 100%;
}

.css-1xc3v61-indicatorContainer{
    padding: 0px !important;
}

.css-19bb58m{
    padding: 0px;
    margin: 0px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .subtype-row {
    flex-direction: column;
  }
  
  .subtype-field {
    width: 100%;
  }
  
  .subtype-actions {
    margin-top: 10px;
    justify-content: flex-end;
  }
}