.custom-navbarH {
  padding: 0.5rem 1rem;
}

.custom-containerH {
  padding: 0;
}
.caseIcon{
  font-size: 20px
}
.case-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.case-id {
  font-size: 20px;
  color: white;
}

.case-title-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.case-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

.badge-warning {
  background-color: #A67C00 !important;
  color: #fff;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.d-flex.gap-2 {
  display: flex;
  gap: 8px;
}
