.containerM {
  background-color: var(--color-colors-backgroundColor) !important;
  height: 545px;
  /* display: flex; Flexbox use karein */
  flex-direction: column; /* Content ko column me rakhe */
  justify-content: center; /* Vertical center align kare */
  /* align-items: center; Horizontal center align kare */
  overflow: hidden;
}
@media screen and (max-width: 1920px) {
  .containerM {
    height: 100%; /* Adjust height to content */
    padding: 20px; /* Add some space inside */
    /* align-items: flex-start; /* Align content to left on small screen */
    /* justify-content: flex-start;  */
  }
}
@media screen and (max-width: 768){
  .containerM{
    height: 100%;
    align-items: center;
        justify-content: center;
  }
}
.resourcesContainer {
  /* border: 1px solid #ccc; */
  padding: 20px;
  border-radius: 5px;
  /* background-color: white; */
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 75vh;
  /* margin-top: 20px; */
}
.title {
  font-size: 12px;
  color: #666;
}

.content {
  font-size: 12px;
  color: #666;
}

.button {
  margin-top: 0px;
}
/* .add-resource-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 2px;
  background-color: gray;
  color: white;
} */
/* .add-resource-button:hover {
  background-color: black;
  color: white;
} */
