/* Common layout styles */
.cards-container {
  flex: 70%;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.error-container {
  text-align: center;
  margin-top: 3rem;
}

.error-message {
  color: #f44336;
}

/* Card styles */
.user-card {
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: black !important;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

.user-avatar {
  margin-right: 8px !important;
}
.user-header {
  display: flex;
  align-items: center;
   word-break: break-word;
   flex-wrap: wrap; 
}
.user-details {
  flex: 1;
  text-align: center;
}
.user-name {
  margin: 0 !important;
}
.css-1lt5qva-MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}
.user-info {
  margin-bottom: 8px !important;
  color: white !important;
   word-break: break-word;
   flex-wrap: wrap; 
}

.info-icon {
  margin-right: 5px !important;
  width: 15px !important;
   word-break: break-word;
   flex-wrap: wrap; 
}
