.searchBarContainer {
  background-color: var(--color-colors-backgroundColor);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  /* overflow: hidden; */
  margin-bottom: 20px;
}

:global(.react-tel-input .country-list) {
  border-radius: 15px !important;
  background-color: var(--color-colors-backgroundColor) !important;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right:  10px;
  gap: 10px;
  border-radius: 15px;
  /* box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); */
  width: 100%;
  max-width: 600px;
  background-color: var(--color-colors-secondary);
  margin: 20px 0;
  position: relative;
}

.custom-select{
  border-radius: 15px;
}

.searchDropdown {
  /* height: 36px; */
  border-radius: 15px;
  /* padding: 0 10px; */
  /* font-size: 14px; */
  /* flex: 1; */
  background-color: var(--color-colors-backgroundColor);
  color: var(--color-colors-neutralText);
  width: 30%;
  border: 1px solid var(--color-colors-primaryAccent);
}

/* .searchDropdown:focus {
  outline: none;
  box-shadow: none;
} */

.searchInput {
  height: 36px;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  flex: 3;
  border: none;
  color: #d9d9d9;
  background-color: #101D2b;
}

:global(.form-control.search-input):focus{
  border-radius: 15px !important;
  border:1px solid var(--color-colors-hoverState) !important
}

.search-button {
  height: 36px;
  width: 100px;
  border: none;
  background-color: gray;
  color: var(--color-colors-neutralText);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
}

.search-button:hover {
  background-color: black;
}

.searchResultsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchresult {
  width: 100%;
  max-height: 80vh;
  box-sizing: border-box;
  /* overflow-x: auto; */
}

.wrapper {
  display: flex;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  min-width: 600px;
}

.results-table th,
.results-table td {
  border: 1px solid #dfe1e5;
  text-align: left;
  font-size: 10px;
}

.results-table th {
  background-color: #f1f1f1;
}

.create-case-button {
  height: 28px;
  border: none;
  background-color: black;
  color: var(--color-colors-neutralText);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 4.5% 0px 0px;
}

.create-case-button:hover {
  background-color: #808080;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

@media (max-width: 1024px) {
  .searchBarContainer {
    padding: 10px;
  }

  .results-table th,
  .results-table td {
    font-size: 12px;
  }

  .searchBar {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .searchBarContainer {
    width: 100%;
    /* padding: 10px; */
  }

  /* .searchBar {
    /* flex-direction: column; */
    /* align-items: stretch;
  } */ 

  .searchDropdown,
  .search-input,
  .search-button {
    width: 100%;
    /* height: 40px; */
  }

  .results-table th,
  .results-table td {
    font-size: 10px;
  }

  .button-container {
    justify-content: end;
  }

  .create-case-button {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .searchBarContainer {
    width: 100%;
    padding: 5px;
  }

  .searchBar {
    padding: 5px;
    gap: 5px;
  }

  .searchDropdown,
  .searchInput,
  .searchButton {
    height: 35px;
    font-size: 14px;
    color: var(--color-colors-neutralText);
  }

  .results-table {
    min-width: 100%;
  }

  .create-case-button {
    width: 100%;
    font-size: 12px;
  }
}

.country-code-wrapper {
  display: flex;
  align-items: center;
}

.country-code-dropdown {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  background-color: var(--color-colors-neutralText);
}

:global(.react-tel-input .country-list) {
  border-radius: 15px !important;
  background-color: var(--color-colors-backgroundColor) !important;
  border: 1px solid var(--color-colors-primaryAccent) !important;
  /* overflow: hidden !important; */
}

:global(.react-tel-input .country-list .country) {
  color: var(--color-colors-neutralText) !important;
  padding: 10px;
}

:global(.react-tel-input .country-list .country):hover {
  background-color: var(--color-colors-secondary) !important;
  cursor: pointer;
}

:global(.react-tel-input .form-control) {
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 0;
    background-color: var(--color-colors-secondary) !important;
    color: var(--color-colors-neutralText);
    border: none !important;
    border-radius: 5px;
    line-height: 25px;
    height: 35px;
    width: 300px;
    outline: none;
}
:global(.react-tel-input .selected-flag) {
  background-color: var(--color-colors-secondary) !important;
  color: var(--color-colors-neutralText) !important;
  border: none !important;
}
:global(.react-tel-input .flag-dropdown){
     background-color: var(--color-colors-secondary) !important; 
     border: none !important;
}
:global(.react-tel-input .country-list .search){
  background-color: var(--color-colors-secondary) !important;
  color: var(--color-colors-neutralText) !important;
}
:global(.react-tel-input .country-list .country.highlight) {
    background-color: var(--color-colors-secondary) !important;
}

/* Remove side border curve on autofill input */
.searchInput:-webkit-autofill,
.searchInput:-webkit-autofill:hover,
.searchInput:-webkit-autofill:focus,
.searchInput:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px var(--color-colors-secondary) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-colors-secondary) inset !important;
  border-radius: 0 !important;
  border: none !important;
}
