.left-div {
  width: 30%;
  border: 1px solid #ccc; /* Example border */
}

.right-div {
  width: 70%;
  border: 1px solid #ddd; /* Example border */
}

/* To ensure the divs sit side-by-side within the Row component */
.row > .col {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 800px) {
  .react-select-container {
    width: 200px;
  }
}
