.wrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  position: absolute;
  top: -10px;
  left: 12px;
  background-color: var(--color-colors-primaryAccent);
  padding: 0 6px;
  color: var(--color-colors-neutralText);
  font-weight: normal;
  z-index: 1;
  border-radius: 0.75rem;
}



.inputSelectContainer {
  display: flex;
  align-items: center;
  border: 1px solid #2196f3;
  border-radius: 0.75rem;
  background-color: var(--color-colors-primary);
  overflow: hidden;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputSelectContainer:focus-within {
  border-color: #64b5f6;
  box-shadow: 0 0 0 3px rgba(100, 181, 246, 0.25);
}

.inputse {
   width: 45px;
   /* padding-left: 5px; */
  padding: 0.9rem 0.75rem 0.75rem 0.75rem;
  border: none;
  background-color: var(--color-colors-primary);
  color: var(--color-colors-neutralText);
}


.select {
  flex: 1;
  padding: 1rem 0.75rem 0.75rem 0.75rem;
  border: none;
  background-color:var(--color-colors-primary) ;
  color: var(--color-colors-neutralText);
}

.input:focus,
.select:focus {
  outline: none;
}


/* .input:disabled,
.select:disabled {
  background-color: transparent;
  color: #888;
  cursor: not-allowed;
} */
