.case-details-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.popup-contentable {
  width: auto;
  height: auto;
  padding: 5px;
  margin-right: 5px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 85%;
}
.popup-containera {
  width: 40%;
  padding: 20px 20px 20px 0px;
  position: relative;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.close-btn {
  position: absolute;
  height: 10px;
  width: 10px;
  align-items: left;
}

/* h5 {
  margin: 0;
  text-align: left;
  font-size: 14px;
} */

.custom-table {
  padding: 10%;
  background-color: #f7f7f7;
  table-layout: auto;
  width: 100%;
  margin-bottom: 0px;
}
.btn-close {
  width: 0px;
}

.custom-table th {
  background-color: white !important    ;
  font-size: 12px !important;
  padding: 3px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  width: 30%;
}

.custom-table td {
  background-color: white !important;
  font-size: 12px !important;
  padding: 3px;
  font-family: sans-serif;
  color: #0a0909;
  vertical-align: middle;
}
.close-icon {
  position: absolute;
  right: 15px;
  background: none;
  padding: 3px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  z-index: 10;
  justify-content: center;
}

/* ActionMenu.css */
.action-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  border-radius: 4px;
  z-index: 1000;
}

.menu-option {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.menu-option:hover {
  background-color: #f0f0f0;
}
