.css-1b1fjlj-MuiFormControl-root-MuiTextField-root {
  background-color: white;
  border-radius: 5px;
  width: 100%;
}
:global(.com) {
  font-size: 12px !important;
}
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px !important;
  height: 38px !important;
}
:global(.flex) {
  display: flex;
  width: 100%;
  gap: 0.5rem; /* Optional spacing between fields */
  color: white;
}