/* SearchInterface.css */

.search-container {
  background: #f5f5f5;
  color: #D9D9D9;
  font-family: "Roboto", Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: darkgray;
}

.search-input-container {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #212121;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.search-input {
  background: transparent;
  border: none;
  color: #000;
  flex: 1;
  outline: none;
  font-size: 14px;
}

.search-input::placeholder {
  color: #9e9e9e;
}

.icon-button {
  background: transparent;
  color: #212121;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}

.icon-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.search-term-indicator {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #0A192F;
  padding: 5px 0px 5px 0px;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* height: 100px; */
  overflow: auto;
  margin: 4px 0px 4px 0px;
  max-height: 60px;
 min-height: 0px;
}

.search-chip {
  height: 20px;
  background: rgba(0, 115, 207, 0.3);
  padding: 2px 4px 2px 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  color: #0073cf;
  border: 1px solid #0073cf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.chip-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  color: var(--color-colors-primaryAccent);
  padding: 4px;
  border-radius: 50%;
}

.chip-delete-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.action-buttons {
  margin-left: auto;
  display: flex;
}

.action-button {
  background: #FF3B3F;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: white;
}

.action-button:hover {
  background: #ff5557;
  color: white;
}

.tabs {
  display: flex;
  background: #0A192F;
}

.tab {
  padding: 2px 0px 2px 0px;
  cursor: pointer;
  color: white;
  transition: color 0.2s;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.tab.active {
  color: white;
}

.search-results {
  /* padding: 0.75rem; */
  background: #0A192F;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.result-card {
  color: white;
  background-color: #080E17;
  border-radius: 4px;
  padding: 0px 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px black;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-id {
  color: white;
}

.status-badge {
  background: #2196F3;
  color: #0A192F;
  padding: 2px 8px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.active-icon {
    color: white !important; /*  Darkens icon */
    filter: brightness(0.6); /*  Reduces brightness */
    transform: scale(1.1); /*  Slight enlargement */
}